/* * {
} */

html{
    background: #dbdaea;
}

body{
    display: grid;
    justify-content: center;
    background: 28afb0ff;
}

#gridified {
    display: grid;
}

header {
    position:relative;
    justify-content: stretch;
    background: #274060;;
    color: whitesmoke;
    border: 15px;
    box-sizing: border-box;
    padding: .5em 1em;
    border-radius: 5px;
    font-family: sans-serif;
}

header h1{
    padding: 0em .5em;
    color:aqua;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    font-size: 4em;
    text-shadow: 4px 4px 5px black;
}

header nav{
    background: #335c81;
    display: flex;
    border: 2em;
    padding: .5em;
    border-radius: 3px;
    flex-direction: row;
    justify-content: space-around;
}

.links a{
    text-decoration-line: none;
    font-size: 1.5em;
    color: whitesmoke;
    border: 2px;
    border-width: 2px;
    border-radius: 20px;
}

#textfill{
    height: 40vh;
    background: #dbfcffff;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

#filltext{
    background: #28afb0ff;
    box-sizing: border-box;
    justify-self:auto;
}

body footer{
    margin-top: auto;
}

iframe{
    border-radius: 8px;
    display: flex;
    width: 95vw;
}